body {
    position: relative;
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg {
    background-color: #45454a;
}

.selector {
    /* height: 250px;
    width: 465px; */
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.2), 0px -3px 9px rgba(0, 0, 0, 0.2);
    animation: fadein 3s;
}

/* @media (min-width:320px) */
@media (min-width: 320px) {
    .selector {
        height: 235px;
        width: 295px;
    }
}

@media (min-width:801px) {
    .selector {
        height: 250px;
        width: 465px;
    }
}

.selector-title {
    justify-content: center;
    font-size: 1.5em;
    padding: 8px;
    color: white;
    letter-spacing: 1px;
    font-style: italic;
}

.selector-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.selector-content .fa {
    font-size: 8em;
    color: #ccc;
    cursor: pointer;
    padding: 8px;
}

.selector-content p {
    margin: 0;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ccc;
    cursor: pointer;
}

.selector-content .fa:hover {
    box-shadow: 2px 4px 11px -1px rgba(0, 0, 0, 0.25);
}

.selector-content .fa:active {
    color: #2196f3;
}

.selector-content p:hover {
    text-decoration: underline;
}

.selector-content p:active {
    color: #2196f3;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loading {
    position: absolute;
    z-index: 999999;
    background-color: teal;
}

.loader {
    position: relative;
    display: flex;
}

.loader span {
    width: 20px;
    height: 80px;
    margin: 0 15px;
    background: #2196f3;
    animation: animate 1.4s linear infinite;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

.loader span:nth-child(4) {
    animation-delay: 0.6s;
}

.loader span:nth-child(5) {
    animation-delay: 0.8s;
}

.loader span:nth-child(6) {
    animation-delay: 1s;
}

.loader span:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50% {
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}

.display-none {
    display: none;
}
